.form {
  display: inline-block;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #888;
  &_item {
    margin-bottom: 12px;
    > input {
      cursor: pointer;
    }
  }
}

.submit-btn {
  padding: 8px 20px;
  border-radius: 99px;
  border: none;
}
